body{
  background-color: #fdf6ee;
  overflow-x: hidden;
}

#centre {
  margin: 0 auto;
  width: 85.7%;  
}

#centre >a>img {
  border-radius: 1em 1em;
  width: 100%;
}

.texte {
  font-family: 'architects daughter', cursive;
  font-size: 1.7em;
  font-weight: bold;
  text-align: center;
  margin: 50px 0px;
}

.lien-index a {
  margin: 1vw;
  width: 18vw;
  text-decoration: none;
}

.article {
  font-family: 'architects daughter', cursive;
  font-size: 1.3em;
  margin: 20px 0px;
  padding: 30px 0px;
  border-bottom: 1px ridge #b77e73;
}

h1 {
  font-family: 'architects daughter', cursive;
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  margin: 40px 0px;
  background-color: #b77e73;
  border-radius: 0.2em 0.2em;
}

h2 {
  font-family: 'architects daughter', cursive;
  font-size: 2.0em;
}

img {
  margin: 35px 0px;
}

.bold{
  font-weight: bold;
}

.retour{
  white-space: normal;
  margin-top: 20px;
}

.image-bas{
  width: 100%;
}